.footer-card {
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'center';
    text-align: 'left';
    white-space: 'nowrap';
    overflow: 'hidden';
    text-overflow: 'ellipsis';
}